body{
	margin: 0px;
	padding: 0px;
}
.type1{
	width: 80%;
	display: block;
	margin: 0px auto;
}
.type2{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}